* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0px !important;
}

.header {
    width: 100%;
    background-color: black;
    height: 75px;
    display: block;
    text-align: center;
}

.header_wrapper {
    width: 94%;
    margin: auto;
    height: 50%;
    display: flex;
    vertical-align: center;
    justify-content: space-around;
    height: 100%;
}
.header_title
{
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.header_title > h1 {
    color: #F6F1D1;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}